* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  height: 100dvh;
  background-color: #202124;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  width: 100%;
  height: 86%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.gole {
  color: white;
  font-size: 84px;
}

.input {
  width: 600px;
  height: 50px;
  background-color: hsl(225, 6%, 13%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 30px;
  position: relative;
}
.input input {
  width: 100%;
  height: 100%;
  background-color: hsl(225, 6%, 13%);
  border: none;
  border-radius: 30px;
  padding: 0px 50px;
  color: gray;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.input input:hover {
  background-color: hsl(225, 6%, 10%);
}

.fa-magnifying-glass {
  position: absolute;
  top: 18px;
  left: 20px;
  color: gray;
}

.fa-microphone {
  color: gray;
  position: absolute;
  top: 14px;
  right: 60px;
  font-size: 20px;
}

.fa-camera {
  color: gray;
  position: absolute;
  top: 14px;
  right: 20px;
  font-size: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}
.buttons button {
  background-color: hsl(225, 6%, 20%);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid hsl(225, 6%, 20%);
}
.buttons button:hover {
  border: 1px solid gray;
}

.final {
  display: flex;
  gap: 6px;
}
.final p {
  color: gray;
}
.final span {
  color: hsla(240, 100%, 80%, 0.516);
  cursor: pointer;
}

.right {
  position: fixed;
}

footer {
  background-color: hsl(225, 6%, 10%);
  display: flex;
  flex-direction: column;
  padding: 16px 0px;
}

.top {
  width: 100%;
  padding: 0px 40px 16px 40px;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}
.top span {
  color: hsl(0, 0%, 80%);
}

.bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}
.bottom ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.bottom ul li {
  color: hsl(0, 0%, 80%);
}

.list {
  list-style: none;
  display: flex;
  gap: 20px;
}
.list li {
  color: hsl(0, 0%, 80%);
}

.right {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.writings {
  display: flex;
  gap: 20px;
}
.writings a {
  color: hsl(0, 0%, 80%);
  font-size: 14px;
  text-decoration: none;
}

.big {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3px;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  background-color: hsl(225, 6%, 13%);
}

.big:hover {
  background-color: hsl(225, 6%, 23%);
}

.dot {
  background-color: hsl(0, 0%, 80%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.profile {
  background-color: hsl(225, 6%, 23%);
  padding: 8px 11px;
  border-radius: 50%;
  cursor: pointer;
}
.profile i {
  color: white;
}

.prof {
  position: fixed;
  top: 60px;
  right: 30px;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  background-color: hsl(225, 6%, 16%);
  padding: 20px;
  display: none;
  flex-direction: column;
}

.gmail {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.gmail p {
  color: white;
}
.gmail i {
  position: absolute;
  top: -7px;
  right: 0px;
  color: white;
  background-color: hsl(225, 6%, 16%);
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
}
.gmail i:hover {
  background-color: hsl(225, 6%, 20%);
}

.middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.middle span {
  color: white;
  font-size: 22px;
}

.hello {
  font-size: 30px;
  padding: 12px;
}

.manage {
  padding: 6px 20px;
  border: 1px solid gray;
  color: hsl(240, 100%, 70%);
  border-radius: 20px;
  cursor: pointer;
}

.next {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.next .btn:nth-child(1) {
  width: 40%;
  background-color: hsl(225, 6%, 10%);
  color: white;
  border: none;
  padding: 18px 12px;
  font-size: 16px;
  border-radius: 30px 0px 0px 30px;
  cursor: pointer;
}
.next .btn:nth-child(2) {
  width: 40%;
  background-color: hsl(225, 6%, 10%);
  color: white;
  border: none;
  padding: 18px 12px;
  font-size: 16px;
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
}
.next .btn:hover {
  background-color: hsl(225, 6%, 12%);
}

.more {
  padding-left: 40px;
  margin-top: 20px;
  color: white;
}

.another {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 30px;
  margin-top: 20px;
}
.another button {
  background-color: hsl(225, 6%, 10%);
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
}
.another button:hover {
  background-color: hsl(225, 6%, 12%);
}

.profA {
  display: flex;
}/*# sourceMappingURL=style.css.map */